body
{
    width: 1280px;
    height: 3300px;
    background: #171717;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    width: 1280px;
    display: flex;
    margin-top: 37px;
    margin-left: 195px;
    justify-content: space-between;


}

.call
{

    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    justify-content: center;
    margin-right: 190px;


}
.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.call-text
{

    color: #E4B564;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    order: 2;
    align-content: center;
    padding-top: 8px;


}
.phone-logo
{

    height: 17px;
    width: 17px;
    order: 1;
    padding-top: 5px;

}
.text-block
{
    width: 599px;
}
.title-first
{

    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
    padding-top: 89px;
    padding-left: 195px;
    white-space: nowrap;
}
.text-title-first
{

    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    width: 1000px;
    padding-top: 43px;
    padding-left: 195px;

}
.container-first
{
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(42, 1fr);
    grid-template-rows: repeat(28, 1fr);
    padding-left: 195px;
    padding-top: 41px;
    width: 1280px;
}
.box-one
{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 14;
    background: #634F2C;
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    padding-top: 150px;
}
.box-two
{
    grid-column-start: 14;
    grid-column-end: 28;
    grid-row-start: 1;
    grid-row-end: 14;
    background: #B4A385;
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    padding-top: 135px;
}
.box-three
{
    grid-column-start: 28;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 14;
    background: #E4B564;
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    padding-top: 150px;
}
.box-four
{
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 14;
    grid-row-end: 28;
    background: #635A4A;
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    padding-top: 150px;
}
.box-five
{
    grid-column-start: 21;
    grid-column-end: 42;
    grid-row-start: 14;
    grid-row-end: 28;
    background: #B08C4D;
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    padding-top: 150px;
}
.title-second
{
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
    padding-top: 155px;
    padding-left: 195px;
    white-space: nowrap;

}
.container-second
{

    display: grid;
    gap: 27px;
    grid-template-columns: repeat(42, 1fr);
    grid-template-rows: repeat(28, 1fr);
    padding-left: 195px;
    padding-top: 41px;
    width: 1280px;

}

.box-six
{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 10;
    background: #0E0E0E;
}
.box-seven
{
    grid-column-start: 14;
    grid-column-end: 28;
    grid-row-start: 1;
    grid-row-end: 16;
    background: #242424;
}
.box-eight
{
    grid-column-start: 28;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 7;
    background: #1F1F1F;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 25px;
}
.box-nine
{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 28;
    background: #1F1F1F;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 25px;
}
.box-ten
{
    grid-column-start: 14;
    grid-column-end: 28;
    grid-row-start: 16;
    grid-row-end: 28;
    background: #E4B564;
    color: #000;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 25px;
}
.box-eleven
{
    grid-column-start: 28;
    grid-column-end: 42;
    grid-row-start: 7;
    grid-row-end: 18;
    background: #0E0E0E;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 25px;
}
.box-twelve
{
    grid-column-start: 28;
    grid-column-end: 42;
    grid-row-start: 18;
    grid-row-end: 28;
    background: #0A0909;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 44px;
    padding-left: 25px;
}
.container-text
{
    padding-top: 44px;
    padding-left: 25px;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-text-number
{
    padding-left: 25px;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.client-and-project-container
{
    height: 898px;
    width: 1518px;
    background: #0E0E0E;

}
.client-and-project
{
    display: flex;
    margin-top: 192px;
    justify-content: space-between;
}
.name-container
{
    display: flex;
    justify-content: space-between;
    margin-left: 195px;

}
.name-title
{
    margin-top: 171px;
    color: #FFF;
    font-family: 'Gilam', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */

}
.box
{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    margin-top: 171px;
    margin-right: 280px;
}
.info
{

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E4B564;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-top: 10px;

}
.container-third
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 145px;
    padding-right: 230px;
    padding-top: 72px;
}
.box-thirteen
{
    width: 350px;
    height: 300px;
    background: #634F2C;

}
.img-thirteen
{
    width: 185px;
    height: 49px;
    margin-top: 125px;
    margin-left: 80px;
}
.box-fourteen
{
    width: 350px;
    height: 300px;
    background:  #E8D2ABC2;
}
.img-fourteen
{
    width: 55px;
    height: 50px;
    margin-left: 150px;
    margin-top: 45px;
    margin-bottom: 0;
}
.img-fourteen-logo
{
    width: 119px;
    height: 53px;
    margin-left: 135px;
    margin-top: 10px;

}
.text-fourteen
{
    color: #FFF;
    text-align: center;
    font-family: 'Gilam', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}
.box-fifteen
{
    width: 350px;
    height: 300px;
    background: #E4B564;
}
.img-fifteen
{
    width: 119px;
    height: 53px;
    margin-top: 120px;
    margin-left: 115px;

}
.img-sixteen
{
    width: 55px;
    height: 50px;
    margin-top: 55px;
    margin-left: 150px;
}
.img-sixteen-two
{
    width: 185px;
    height: 49px;
    margin-top: 20px;
    margin-left: 90px;
}
.box-sixteen
{
    width: 350px;
    height: 300px;
    background: #635A4A;
}
.box-eighteen
{
    width: 350px;
    height: 300px;
    background: #B08C4D;
}
.box-twenty
{
    width: 350px;
    height: 300px;
    background: #634F2C;
}